<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Orders</h2>
    <button class="btn btn-primary">Create New Order</button>
  </div>

  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Search by customer name or email...">
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead class="table-light">
      <tr>
        <th>Código de orden</th>
        <th>Cliente</th>
        <th>Email</th>
        <th>Productos</th>
        <th>Fecha de compra</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      @for(order of orders;track $index){
        <tr>
          <td>{{order.orderCode}}</td>
          <td>{{order.customerName}}</td>
          <td>{{order.email}}</td>
          <td>{{order.products.length}} productos</td>
          <td>{{order.timestamp |date}}</td>
          <td>{{order.total}}</td>
        </tr>

      }
      </tbody>
    </table>
  </div>
</div>
